.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 180px -42.6666666667px #00ffa6, 162px -332.6666666667px #fb00ff, 218px -130.6666666667px #9dff00, 152px -303.6666666667px #007bff, -4px -180.6666666667px #ff00f2, 137px -35.6666666667px #00b7ff, 227px 12.3333333333px #00bbff, 137px -52.6666666667px #0048ff, -130px -368.6666666667px #ff0009, 213px -202.6666666667px #00c4ff, 161px 65.3333333333px #ff0033, -9px -413.6666666667px #ff0073, 87px -155.6666666667px #ff00f7, 2px -246.6666666667px #00ff73, 13px -370.6666666667px #00ff77, -94px -155.6666666667px #ff00ea, -169px -406.6666666667px #0033ff, -122px -274.6666666667px #ff0900, -46px -93.6666666667px #ff4000, -19px 54.3333333333px #00ff80, -21px -171.6666666667px #0009ff, -99px 10.3333333333px #4dff00, 114px -391.6666666667px #ff0062, 237px -137.6666666667px #ff00ea, -110px -247.6666666667px #ff005e, 223px -25.6666666667px darkorange, -32px -142.6666666667px #0004ff, -240px -38.6666666667px #0040ff, 212px -394.6666666667px #ff0059, 187px -131.6666666667px #00b3ff, 70px -219.6666666667px #00ffd9, -201px -263.6666666667px #48ff00, 151px -5.6666666667px #00ffae, -3px -218.6666666667px yellow, -42px -368.6666666667px #8800ff, 128px -63.6666666667px #0084ff, 24px -154.6666666667px #0004ff, 35px -173.6666666667px #ffbb00, 124px -241.6666666667px #00a6ff, -160px 63.3333333333px #ffcc00, -60px -103.6666666667px #0400ff, 29px -33.6666666667px #ff1500, 221px -414.6666666667px #66ff00, -69px -261.6666666667px #e6ff00, 204px -71.6666666667px #5100ff, -246px 24.3333333333px #ff9d00, -114px -69.6666666667px #ff004d, -205px -80.6666666667px #00ff6f, 231px -200.6666666667px #d500ff, 181px -362.6666666667px #c4ff00, 110px 46.3333333333px #008cff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 180px -42.6666666667px #00ffa6, 162px -332.6666666667px #fb00ff, 218px -130.6666666667px #9dff00, 152px -303.6666666667px #007bff, -4px -180.6666666667px #ff00f2, 137px -35.6666666667px #00b7ff, 227px 12.3333333333px #00bbff, 137px -52.6666666667px #0048ff, -130px -368.6666666667px #ff0009, 213px -202.6666666667px #00c4ff, 161px 65.3333333333px #ff0033, -9px -413.6666666667px #ff0073, 87px -155.6666666667px #ff00f7, 2px -246.6666666667px #00ff73, 13px -370.6666666667px #00ff77, -94px -155.6666666667px #ff00ea, -169px -406.6666666667px #0033ff, -122px -274.6666666667px #ff0900, -46px -93.6666666667px #ff4000, -19px 54.3333333333px #00ff80, -21px -171.6666666667px #0009ff, -99px 10.3333333333px #4dff00, 114px -391.6666666667px #ff0062, 237px -137.6666666667px #ff00ea, -110px -247.6666666667px #ff005e, 223px -25.6666666667px darkorange, -32px -142.6666666667px #0004ff, -240px -38.6666666667px #0040ff, 212px -394.6666666667px #ff0059, 187px -131.6666666667px #00b3ff, 70px -219.6666666667px #00ffd9, -201px -263.6666666667px #48ff00, 151px -5.6666666667px #00ffae, -3px -218.6666666667px yellow, -42px -368.6666666667px #8800ff, 128px -63.6666666667px #0084ff, 24px -154.6666666667px #0004ff, 35px -173.6666666667px #ffbb00, 124px -241.6666666667px #00a6ff, -160px 63.3333333333px #ffcc00, -60px -103.6666666667px #0400ff, 29px -33.6666666667px #ff1500, 221px -414.6666666667px #66ff00, -69px -261.6666666667px #e6ff00, 204px -71.6666666667px #5100ff, -246px 24.3333333333px #ff9d00, -114px -69.6666666667px #ff004d, -205px -80.6666666667px #00ff6f, 231px -200.6666666667px #d500ff, 181px -362.6666666667px #c4ff00, 110px 46.3333333333px #008cff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 180px -42.6666666667px #00ffa6, 162px -332.6666666667px #fb00ff, 218px -130.6666666667px #9dff00, 152px -303.6666666667px #007bff, -4px -180.6666666667px #ff00f2, 137px -35.6666666667px #00b7ff, 227px 12.3333333333px #00bbff, 137px -52.6666666667px #0048ff, -130px -368.6666666667px #ff0009, 213px -202.6666666667px #00c4ff, 161px 65.3333333333px #ff0033, -9px -413.6666666667px #ff0073, 87px -155.6666666667px #ff00f7, 2px -246.6666666667px #00ff73, 13px -370.6666666667px #00ff77, -94px -155.6666666667px #ff00ea, -169px -406.6666666667px #0033ff, -122px -274.6666666667px #ff0900, -46px -93.6666666667px #ff4000, -19px 54.3333333333px #00ff80, -21px -171.6666666667px #0009ff, -99px 10.3333333333px #4dff00, 114px -391.6666666667px #ff0062, 237px -137.6666666667px #ff00ea, -110px -247.6666666667px #ff005e, 223px -25.6666666667px darkorange, -32px -142.6666666667px #0004ff, -240px -38.6666666667px #0040ff, 212px -394.6666666667px #ff0059, 187px -131.6666666667px #00b3ff, 70px -219.6666666667px #00ffd9, -201px -263.6666666667px #48ff00, 151px -5.6666666667px #00ffae, -3px -218.6666666667px yellow, -42px -368.6666666667px #8800ff, 128px -63.6666666667px #0084ff, 24px -154.6666666667px #0004ff, 35px -173.6666666667px #ffbb00, 124px -241.6666666667px #00a6ff, -160px 63.3333333333px #ffcc00, -60px -103.6666666667px #0400ff, 29px -33.6666666667px #ff1500, 221px -414.6666666667px #66ff00, -69px -261.6666666667px #e6ff00, 204px -71.6666666667px #5100ff, -246px 24.3333333333px #ff9d00, -114px -69.6666666667px #ff004d, -205px -80.6666666667px #00ff6f, 231px -200.6666666667px #d500ff, 181px -362.6666666667px #c4ff00, 110px 46.3333333333px #008cff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 180px -42.6666666667px #00ffa6, 162px -332.6666666667px #fb00ff, 218px -130.6666666667px #9dff00, 152px -303.6666666667px #007bff, -4px -180.6666666667px #ff00f2, 137px -35.6666666667px #00b7ff, 227px 12.3333333333px #00bbff, 137px -52.6666666667px #0048ff, -130px -368.6666666667px #ff0009, 213px -202.6666666667px #00c4ff, 161px 65.3333333333px #ff0033, -9px -413.6666666667px #ff0073, 87px -155.6666666667px #ff00f7, 2px -246.6666666667px #00ff73, 13px -370.6666666667px #00ff77, -94px -155.6666666667px #ff00ea, -169px -406.6666666667px #0033ff, -122px -274.6666666667px #ff0900, -46px -93.6666666667px #ff4000, -19px 54.3333333333px #00ff80, -21px -171.6666666667px #0009ff, -99px 10.3333333333px #4dff00, 114px -391.6666666667px #ff0062, 237px -137.6666666667px #ff00ea, -110px -247.6666666667px #ff005e, 223px -25.6666666667px darkorange, -32px -142.6666666667px #0004ff, -240px -38.6666666667px #0040ff, 212px -394.6666666667px #ff0059, 187px -131.6666666667px #00b3ff, 70px -219.6666666667px #00ffd9, -201px -263.6666666667px #48ff00, 151px -5.6666666667px #00ffae, -3px -218.6666666667px yellow, -42px -368.6666666667px #8800ff, 128px -63.6666666667px #0084ff, 24px -154.6666666667px #0004ff, 35px -173.6666666667px #ffbb00, 124px -241.6666666667px #00a6ff, -160px 63.3333333333px #ffcc00, -60px -103.6666666667px #0400ff, 29px -33.6666666667px #ff1500, 221px -414.6666666667px #66ff00, -69px -261.6666666667px #e6ff00, 204px -71.6666666667px #5100ff, -246px 24.3333333333px #ff9d00, -114px -69.6666666667px #ff004d, -205px -80.6666666667px #00ff6f, 231px -200.6666666667px #d500ff, 181px -362.6666666667px #c4ff00, 110px 46.3333333333px #008cff;
  }
}
@keyframes bang {
  to {
    box-shadow: 180px -42.6666666667px #00ffa6, 162px -332.6666666667px #fb00ff, 218px -130.6666666667px #9dff00, 152px -303.6666666667px #007bff, -4px -180.6666666667px #ff00f2, 137px -35.6666666667px #00b7ff, 227px 12.3333333333px #00bbff, 137px -52.6666666667px #0048ff, -130px -368.6666666667px #ff0009, 213px -202.6666666667px #00c4ff, 161px 65.3333333333px #ff0033, -9px -413.6666666667px #ff0073, 87px -155.6666666667px #ff00f7, 2px -246.6666666667px #00ff73, 13px -370.6666666667px #00ff77, -94px -155.6666666667px #ff00ea, -169px -406.6666666667px #0033ff, -122px -274.6666666667px #ff0900, -46px -93.6666666667px #ff4000, -19px 54.3333333333px #00ff80, -21px -171.6666666667px #0009ff, -99px 10.3333333333px #4dff00, 114px -391.6666666667px #ff0062, 237px -137.6666666667px #ff00ea, -110px -247.6666666667px #ff005e, 223px -25.6666666667px darkorange, -32px -142.6666666667px #0004ff, -240px -38.6666666667px #0040ff, 212px -394.6666666667px #ff0059, 187px -131.6666666667px #00b3ff, 70px -219.6666666667px #00ffd9, -201px -263.6666666667px #48ff00, 151px -5.6666666667px #00ffae, -3px -218.6666666667px yellow, -42px -368.6666666667px #8800ff, 128px -63.6666666667px #0084ff, 24px -154.6666666667px #0004ff, 35px -173.6666666667px #ffbb00, 124px -241.6666666667px #00a6ff, -160px 63.3333333333px #ffcc00, -60px -103.6666666667px #0400ff, 29px -33.6666666667px #ff1500, 221px -414.6666666667px #66ff00, -69px -261.6666666667px #e6ff00, 204px -71.6666666667px #5100ff, -246px 24.3333333333px #ff9d00, -114px -69.6666666667px #ff004d, -205px -80.6666666667px #00ff6f, 231px -200.6666666667px #d500ff, 181px -362.6666666667px #c4ff00, 110px 46.3333333333px #008cff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
