html, body {
	height: 100vh;
	font-family: 'Indie Flower', cursive;
	color: #fff;
	overflow: hidden;
}

.bg-black { background-color: #333; }
.fg-blue { color: #2d89ef; }
.fg-yellow { color:  #ffc40d; }
.fg-red { color: #ee1111; }
.fg-green { color: #00a300; }
.hidden { display: none; }

main {
	height: 100%;
	position: relative;
}
.fireworks-trigger {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.fireworks-trigger:hover .detonator-text {
	transform: scale(1.4);
	text-shadow: 3px 3px 0px rgba(43, 87, 151, 1);
}
.detonator-img {
	width: 250px;
	height: auto;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	        animation-
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
.detonator-text {
	margin-top: 30px;
	font-weight: bold;
	font-size: 60px;
	transition: all 300ms ease;
}

.greetings-container {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 250px;
}
.grad-pic {
	height: 300px;
	width: auto;
	top: -50%;
    position: absolute;
}
.grad-pic-1 {
	transform: rotate(-15deg);
    left: 30%;
}
.grad-pic-2 {
	transform: rotate(15deg);
    right: 30%;
}

.sp-circle-link {
	top: -50px;
}

h2 {
	font-weight: bold;
}

.fb-like {
    position: absolute !important;
    top: 20px;
    left: 20px;
    z-index: 2000;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.detonator-img { width: 150px; }
	.grad-pic { height: 275px; }
	.grad-pic-1 { left: 10%; }
	.grad-pic-2 { right: 10%; }
	.sp-circle-link { top: -60px; }
	.sp-container h2 {
		font-size: 60px;
		line-height: 75px;
	}
	.sp-container h2.frame-4 {
		font-size: 80px;
	}
	.greetings-container {
		height: 225px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.detonator-img { width: 150px; }
	.grad-pic { height: 150px; }
	.grad-pic-1 { left: 10%; }
	.grad-pic-2 { right: 10%; }
	.sp-circle-link { top: -60px; }
	.sp-container h2 {
		font-size: 40px;
		line-height: 55px;
	}
	.sp-container h2.frame-4 {
		font-size: 60px;
	}
	.greetings-container {
		height: 175px;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
